body {
    font-family: 'Montserrat', sans-serif;
}
h4,h2, .title {
    text-align: center;
}
h2 {
    margin-top: 80px;
}
img {
    
    border-radius: 100%;
}
hr {
    border: none;
    height: 1px;
    color: black;
    background-color: black;
}

.bg-img{
    background-image: url("colors.jpg");
    min-height: 668px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    border-bottom: 2px solid black;
}
.wrapper{background: url('colors.jpg') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-picture {
    margin-top: 60px;
    margin-bottom: 60px;
}
.page-introduction {
    margin-top: 160px;
    margin-left: 0;
    margin-bottom: 30px;
    text-align: center;
}
.icons {
    width: 30px;
    height: 30px;
}
.col-sm-6 {
    padding-left: 80px;
    padding-right: 80px;
}
.skills-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 80px;
}
.projects {
    background-image: url('geometry.jpg');
    min-height: 668px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    border-top: 2px solid black;
   
}